<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogIn</title>
</head>

<body>
    <div>
        <center>

            <h1>LogIn here</h1>
            <form action="" method="POST">
                Email:
                <input type="email" name="email" placeholder="youremail@email.com" required /><br><br>
                Password:
                <input type="password" name="password" placeholder="Enter the Password" required /><br><br>
                <input type="submit" value="Sign In"><br>
                <a href="/">click to Create an account</a>
            </form>
        </center>
        <center>
            <font color="red">
                <h1><%= output %></h1>
            </font>
        </center>

    </div>
</body>

</html>